:host{
    display:flex;
    flex-direction:column;
    flex-grow:1;
}

.panel {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.left-panel {
    width: 60%;
}

.right-panel {
    width: 40%;
}