.page-layout {
    width:calc(100% - 22px);
    height: calc(100vh - 40px);
    display:flex;
    flex-direction:column;
    border:1px solid #24a1a1;
    border-radius: 5px;
    padding:10px;
    overflow:auto;
}

.flex-row{
    display:flex;
    flex-direction: row;
}

.flex-col{
    display:flex;
    flex-direction: column;
}


